.popular-products .container {
  text-align: center;
  padding: 50px 20px 100px 100px;
}

.popular-products h2{
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.description {
  text-align: left;
  margin-bottom: 10px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  width: 175px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.product-item:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  border-radius: 4px;
}

.product-name {
  display: block;
  font-weight: bold;
  /* margin-top: 8px; */
  text-align: center;
}

.badge.new {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #a6e1e8;
  color: #333;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
}
